$red-color: #ff0000;
$grey-color: #808080;
$black-color: #000000;
$orange-color: #ffa500;
$light-red: #d60d0d;
$dark-red: #960606;
$orange-color2: #ff4500;
$aqua-color: #00ffff;
$blue-color: #0000ff;
$bright-blue: #0574e3;
$dark-blue: #0945ae;
$gold-color: #ffd700;
$white-color: #ffffff;
$brown-color: #8b4513;
$light-grey: #d3d3d3;
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
@media (min-width: 1325px) {
  #header {
    background-color: $red-color;
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    #logo {
      height: 75px;
      width: 100px;
      background-color: $grey-color;
      border: 4px solid $black-color;
    }
    #blocks {
      height: 60%;
      width: 70%;
      gap: 15px;
      display: flex;
      justify-content: center;
    }
    .outside_boxes {
      height: 100%;
      width: 100%;
      background-color: $orange-color;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .inside_boxes {
      height: 50%;
      width: 60%;
      background-color: $grey-color;
    }
  }

  #middle {
    height: 60vh;
    width: 100%;
    background-color: $grey-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .card {
    height: 90%;
    width: 19%;
    min-width: 250px;
    background-color: $light-red;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  #first_line {
    width: 50%;
    height: 5%;
    display: flex;
    margin: 0;
    align-items: start;
    justify-content: center;
    background-color: $black-color;
  }
  .card_inside {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: flex-end;
  }
  #daughter1 {
    height: 100%;
    width: 100%;
    background-color: $dark-red;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #head_bg {
    height: 80%;
    width: 80%;
    background-color: $grey-color;
    display: flex;
    align-items: flex-end;
  }
  #main_left_block {
    width: 50%;
    height: 85%;
    background-color: $orange-color2;
    display: flex;
    flex-direction: column;
  }
  #first_squares {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .corner_squares {
    height: 10%;
    width: 15%;
    background-color: $blue-color;
  }
  #second_squares {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  #main_right_block {
    width: 50%;
    height: 75%;
    background-color: $bright-blue;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  #inside {
    width: 80%;
    height: 70%;
    background-color: $dark-blue;
  }
  .second_line {
    background-color: $black-color;
    height: 5%;
    width: 35%;
    margin: 0;
  }
  #daughter2 {
    height: 100%;
    width: 100%;
    background-color: $dark-red;
    display: flex;
    justify-content: center;
  }
  #box_a {
    height: 50%;
    width: 80%;
    background-color: $grey-color;
    margin-top: 27px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  #box_b {
    height: 50%;
    width: 80%;
    background-color: $blue-color;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  #box_c {
    height: 70%;
    width: 90%;
    background-color: $aqua-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .small {
    height: 30%;
    width: 30%;
    background-color: $dark-blue;
  }

  #daughter3 {
    height: 100%;
    width: 100%;
    background-color: $dark-red;
    display: flex;
    justify-content: center;
  }
  #outside_center_block {
    height: 30%;
    width: 80%;
    background-color: $grey-color;
    margin-top: 27px;
  }
  #square5 {
    width: 5%;
    height: 15%;
    background-color: $black-color;
    margin-top: 3px;
    margin-left: auto;
    margin-right: 3px;
  }
  #inside_center_block {
    height: 55%;
    width: 70%;
    background-color: $gold-color;
    margin: 0 auto;
  }

  #daughter4 {
    height: 100%;
    width: 100%;
    background-color: $dark-red;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #first_box {
    height: 30%;
    width: 80%;
    background-color: $grey-color;
    margin-top: 27px;
  }

  .right_square {
    width: 5%;
    height: 15%;
    background-color: $black-color;
    margin-left: auto;
    margin-right: 1px;
    margin-top: 2px;
  }
  .example {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
  .up_block {
    height: 60%;
    width: 15%;
    background-color: $white-color;
  }
  .grow_block {
    height: 60%;
    display: flex;
    flex-grow: 0.7;
    background-color: $white-color;
  }
  hr {
    width: 80%;
  }
  #second_box {
    height: 30%;
    width: 80%;
    background-color: $grey-color;
  }
  .down_block {
    height: 60%;
    width: 10%;
    background-color: $white-color;
  }

  #third_line {
    background-color: $black-color;
    height: 5%;
    width: 90%;
    margin: 0;
  }
  #daughter5 {
    height: 100%;
    width: 100%;
    background-color: $dark-red;
    display: flex;
    justify-content: center;
  }
  #main_fifth_block {
    height: 50%;
    width: 80%;
    background-color: $grey-color;
    margin-top: 27px;
    display: flex;
    align-items: center;
  }
  #center_line {
    height: 15%;
    width: 100%;
    background-color: $gold-color;
  }
  #basement {
    height: 25vh;
    width: 100%;
    background-color: $black-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .main_bg {
    height: 80%;
    width: calc(88% / 8);
    background-color: $brown-color;
    display: flex;
    justify-content: center;
  }
  .fourth_line {
    width: 90%;
    height: 10%;
    background-color: $light-grey;
    margin-top: 10px;
  }
}
@media (max-width: 1324px) {
  #header {
    background-color: $red-color;
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #logo {
    height: 75px;
    width: 100px;
    background-color: $grey-color;
    border: 4px solid $black-color;
  }

  #blocks {
    height: 60%;
    width: 70%;
    gap: 15px;
    display: flex;
    justify-content: center;
  }

  .outside_boxes {
    height: 100%;
    width: 100%;
    background-color: $orange-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .inside_boxes {
    height: 50%;
    width: 60%;
    background-color: $grey-color;
  }

  #middle {
    width: 100%;
    background-color: $grey-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

  }
  .card {
    height: 250px;
    width: 100%;
    min-width: 250px;
    background-color: $light-red;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: 17px;
  }

  #first_line {
    width: 50%;
    height: 5%;
    display: flex;
    margin: 0;
    align-items: start;
    justify-content: center;
    background-color: $black-color;
  }
  .card_inside {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: flex-end;
  }
  #daughter1 {
    height: 100%;
    width: 100%;
    background-color: $dark-red;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #head_bg {
    height: 80%;
    width: 80%;
    background-color: $grey-color;
    display: flex;
    align-items: flex-end;
  }
  #main_left_block {
    width: 50%;
    height: 85%;
    background-color: $orange-color2;
    display: flex;
    flex-direction: column;
  }
  #first_squares {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .corner_squares {
    height: 10%;
    width: 15%;
    background-color: $blue-color;
  }
  #second_squares {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  #main_right_block {
    width: 50%;
    height: 75%;
    background-color: $bright-blue;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  #inside {
    width: 80%;
    height: 70%;
    background-color: $dark-blue;
  }
  .second_line {
    background-color: $black-color;
    height: 5%;
    width: 35%;
    margin: 0;
  }
  #daughter2 {
    height: 100%;
    width: 100%;
    background-color: $dark-red;
    display: flex;
    justify-content: center;
  }
  #box_a {
    height: 50%;
    width: 80%;
    background-color: $grey-color;
    margin-top: 27px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  #box_b {
    height: 50%;
    width: 80%;
    background-color: $blue-color;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  #box_c {
    height: 70%;
    width: 90%;
    background-color: $aqua-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .small {
    height: 30%;
    width: 30%;
    background-color: $dark-blue;
  }

  #daughter3 {
    height: 100%;
    width: 100%;
    background-color: $dark-red;
    display: flex;
    justify-content: center;
  }
  #outside_center_block {
    height: 30%;
    width: 80%;
    background-color: $grey-color;
    margin-top: 27px;
  }
  #square5 {
    width: 5%;
    height: 15%;
    background-color: $black-color;
    margin-top: 3px;
    margin-left: auto;
    margin-right: 3px;
  }
  #inside_center_block {
    height: 55%;
    width: 70%;
    background-color: $gold-color;
    margin: 0 auto;
  }

  #daughter4 {
    height: 100%;
    width: 100%;
    background-color: $dark-red;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #first_box {
    height: 30%;
    width: 80%;
    background-color: $grey-color;
    margin-top: 27px;
  }

  .right_square {
    width: 5%;
    height: 15%;
    background-color: $black-color;
    margin-left: auto;
    margin-right: 1px;
    margin-top: 2px;
  }
  .example {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
  .up_block {
    height: 60%;
    width: 15%;
    background-color: $white-color;
  }
  .grow_block {
    height: 60%;
    display: flex;
    flex-grow: 0.7;
    background-color: $white-color;
  }
  hr {
    width: 80%;
  }
  #second_box {
    height: 30%;
    width: 80%;
    background-color: $grey-color;
  }
  .down_block {
    height: 60%;
    width: 10%;
    background-color: $white-color;
  }

  #third_line {
    background-color: $black-color;
    height: 5%;
    width: 90%;
    margin: 0;
  }
  #daughter5 {
    height: 100%;
    width: 100%;
    background-color: $dark-red;
    display: flex;
    justify-content: center;
  }
  #main_fifth_block {
    height: 50%;
    width: 80%;
    background-color: $grey-color;
    margin-top: 27px;
    display: flex;
    align-items: center;
  }
  #center_line {
    height: 15%;
    width: 100%;
    background-color: $gold-color;
  }
  #basement {
    width: 100%;
    background-color: $black-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .main_bg {
    height: 150px;
    width: calc(99% / 2);
    background-color: $brown-color;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .fourth_line {
    width: 90%;
    height: 10%;
    background-color: $light-grey;
    margin-top: 10px;
  }
}

@media (max-width: 1023px) {
  #header {
    height: 119px;
    background-color: $red-color;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 5px;
    padding-top: 3px;
  }

  #logo {
    height: 75px;
    width: 100px;
    background-color: $grey-color;
    border: 4px solid $black-color;
    margin-bottom: 1px;
  }

  #blocks {
    height: 30%;
    width: 95%;
    gap: 15px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
  }

  .outside_boxes {
    width: calc(100% / 3);
    background-color: #ffa500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
  }

  .inside_boxes {
    height: 50%;
    width: 60%;
    background-color: grey;
  }
  #middle {
    width: 100%;
    background-color: $grey-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .card {
    height: 250px;
    width: 100%;
    min-width: 250px;
    background-color: $light-red;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  #first_line {
    width: 50%;
    height: 5%;
    display: flex;
    margin: 0;
    align-items: start;
    justify-content: center;
    background-color: $black-color;
  }
  .card_inside {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: flex-end;
  }
  #daughter1 {
    height: 100%;
    width: 100%;
    background-color: $dark-red;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #head_bg {
    height: 80%;
    width: 80%;
    background-color: $grey-color;
    display: flex;
    align-items: flex-end;
  }
  #main_left_block {
    width: 50%;
    height: 85%;
    background-color: $orange-color2;
    display: flex;
    flex-direction: column;
  }
  #first_squares {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .corner_squares {
    height: 10%;
    width: 15%;
    background-color: $blue-color;
  }
  #second_squares {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  #main_right_block {
    width: 50%;
    height: 75%;
    background-color: $bright-blue;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  #inside {
    width: 80%;
    height: 70%;
    background-color: $dark-blue;
  }

  .second_line {
    background-color: $black-color;
    height: 5%;
    width: 35%;
    margin: 0;
  }
  #daughter2 {
    height: 100%;
    width: 100%;
    background-color: $dark-red;
    display: flex;
    justify-content: center;
  }
  #box_a {
    height: 50%;
    width: 80%;
    background-color: $grey-color;
    margin-top: 27px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  #box_b {
    height: 50%;
    width: 80%;
    background-color: $blue-color;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  #box_c {
    height: 70%;
    width: 90%;
    background-color: $aqua-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .small {
    height: 30%;
    width: 30%;
    background-color: $dark-blue;
  }

  #daughter3 {
    height: 100%;
    width: 100%;
    background-color: $dark-red;
    display: flex;
    justify-content: center;
  }
  #outside_center_block {
    height: 30%;
    width: 80%;
    background-color: $grey-color;
    margin-top: 27px;
  }
  #square5 {
    width: 5%;
    height: 15%;
    background-color: $black-color;
    margin-top: 3px;
    margin-left: auto;
    margin-right: 3px;
  }
  #inside_center_block {
    height: 55%;
    width: 70%;
    background-color: $gold-color;
    margin: 0 auto;
  }

  #daughter4 {
    height: 100%;
    width: 100%;
    background-color: $dark-red;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #first_box {
    height: 30%;
    width: 80%;
    background-color: $grey-color;
    margin-top: 27px;
  }

  .right_square {
    width: 5%;
    height: 15%;
    background-color: $black-color;
    margin-left: auto;
    margin-right: 1px;
    margin-top: 2px;
  }
  .example {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
  .up_block {
    height: 60%;
    width: 15%;
    background-color: $white-color;
  }
  .grow_block {
    height: 60%;
    display: flex;
    flex-grow: 0.7;
    background-color: $white-color;
  }
  hr {
    width: 80%;
  }
  #second_box {
    height: 30%;
    width: 80%;
    background-color: $grey-color;
  }
  .down_block {
    height: 60%;
    width: 10%;
    background-color: $white-color;
  }

  #third_line {
    background-color: $black-color;
    height: 5%;
    width: 90%;
    margin: 0;
  }
  #daughter5 {
    height: 100%;
    width: 100%;
    background-color: $dark-red;
    display: flex;
    justify-content: center;
  }
  #main_fifth_block {
    height: 50%;
    width: 80%;
    background-color: $grey-color;
    margin-top: 27px;
    display: flex;
    align-items: center;
  }
  #center_line {
    height: 15%;
    width: 100%;
    background-color: $gold-color;
  }
  #basement {
    width: 100%;
    background-color: $black-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .main_bg {
    height: 150px;
    width: calc(99% / 2);
    background-color: $brown-color;
    display: flex;
    justify-content: center;
  }
  .fourth_line {
    width: 90%;
    height: 10%;
    background-color: $light-grey;
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  #header {
    background-color: $red-color;
    height: 121px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
  }

  #logo {
    height: 75px;
    width: 100px;
    background-color: $grey-color;
    border: 4px solid $black-color;
    margin-top: 3px;
    margin-left: 3px;
  }

  #blocks {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1px;
  }

  .outside_boxes {
    background-color: $orange-color;
    height: 45%;
    width: 100%;
    background-color: #ffa500;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .inside_boxes {
    height: 50%;
    width: 60%;
    background-color: $grey-color;
  }
  #middle {
    width: 100%;
    background-color: $grey-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 10px;
  }
  .card {
    height: 250px;
    width: 100%;
    min-width: 250px;
    background-color: $light-red;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: 15px;
  }

  #first_line {
    width: 50%;
    height: 5%;
    display: flex;
    margin: 0;
    align-items: start;
    justify-content: center;
    background-color: $black-color;
  }
  .card_inside {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: flex-end;
  }
  #daughter1 {
    height: 100%;
    width: 100%;
    background-color: $dark-red;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #head_bg {
    height: 80%;
    width: 80%;
    background-color: $grey-color;
    display: flex;
    align-items: flex-end;
  }
  #main_left_block {
    width: 50%;
    height: 85%;
    background-color: $orange-color2;
    display: flex;
    flex-direction: column;
  }
  #first_squares {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .corner_squares {
    height: 30%;
    width: 10%;
    background-color: $blue-color;
  }
  #second_squares {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  #main_right_block {
    width: 50%;
    height: 75%;
    background-color: $bright-blue;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  #inside {
    width: 80%;
    height: 70%;
    background-color: $dark-blue;
  }

  .second_line {
    background-color: $black-color;
    height: 5%;
    width: 35%;
    margin: 0;
  }
  #daughter2 {
    height: 100%;
    width: 100%;
    background-color: $dark-red;
    display: flex;
    justify-content: center;
  }
  #box_a {
    height: 50%;
    width: 80%;
    background-color: $grey-color;
    margin-top: 27px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  #box_b {
    height: 50%;
    width: 80%;
    background-color: $blue-color;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  #box_c {
    height: 70%;
    width: 90%;
    background-color: $aqua-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .small {
    height: 30%;
    width: 30%;
    background-color: $dark-blue;
  }

  #daughter3 {
    height: 100%;
    width: 100%;
    background-color: $dark-red;
    display: flex;
    justify-content: center;
  }
  #outside_center_block {
    height: 30%;
    width: 80%;
    background-color: $grey-color;
    margin-top: 27px;
  }
  #square5 {
    width: 5%;
    height: 15%;
    background-color: $black-color;
    margin-top: 3px;
    margin-left: auto;
    margin-right: 3px;
  }
  #inside_center_block {
    height: 55%;
    width: 70%;
    background-color: $gold-color;
    margin: 0 auto;
  }

  #daughter4 {
    height: 100%;
    width: 100%;
    background-color: $dark-red;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #first_box {
    height: 30%;
    width: 80%;
    background-color: $grey-color;
    margin-top: 27px;
  }

  .right_square {
    width: 5%;
    height: 15%;
    background-color: $black-color;
    margin-left: auto;
    margin-right: 1px;
    margin-top: 2px;
  }
  .example {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
  .up_block {
    height: 60%;
    width: 15%;
    background-color: $white-color;
  }
  .grow_block {
    height: 60%;
    display: flex;
    flex-grow: 0.7;
    background-color: $white-color;
  }
  hr {
    width: 80%;
  }
  #second_box {
    height: 30%;
    width: 80%;
    background-color: $grey-color;
  }
  .down_block {
    height: 60%;
    width: 10%;
    background-color: $white-color;
  }

  #third_line {
    background-color: $black-color;
    height: 5%;
    width: 90%;
    margin: 0;
  }
  #daughter5 {
    height: 100%;
    width: 100%;
    background-color: $dark-red;
    display: flex;
    justify-content: center;
  }
  #main_fifth_block {
    height: 50%;
    width: 80%;
    background-color: $grey-color;
    margin-top: 27px;
    display: flex;
    align-items: center;
  }
  #center_line {
    height: 15%;
    width: 100%;
    background-color: $gold-color;
  }
  #basement {
    width: 100%;
    background-color: $black-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  .main_bg {
    width: 100%;
    background-color: $brown-color;
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  .fourth_line {
    width: 90%;
    height: 10%;
    background-color: $light-grey;
    margin-top: 10px;
  }
}
